@model ProductEditorModel
@{
    ViewData["Title"] = "პროდუქტის დამატება";
}
@section Breadcrumbs
{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.RouteUrl(RouteNames.Admin.Product.Products)">პროდუქტები</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>@ViewData["Title"]</span>
            </li>
        </ul>
    </div>
}

<form asp-controller="Products" asp-action="Create" method="post">
    <partial name="_ProductEditorModel.cshtml" model="Model.Product" />
</form>
