@model ProductEditorModel
@{
    ViewData["Title"] = $"პროდუქტის რედაქტირება - '{Model.Product.Title}'";
}
@section Breadcrumbs
{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.RouteUrl(RouteNames.Admin.Product.Products)">პროდუქტები</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>@ViewData["Title"]</span>
            </li>
        </ul>
    </div>
}

<form asp-controller="Products" asp-action="Update" method="post">
    <partial name="_ProductEditorModel.cshtml" model="Model.Product" />
</form>

@section Scripts
{
    <script src="~/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/admin/scripts/Products/ProductEditorModel.js"></script>
    <script>
        $(function () {
            ProductEditorModel.init();
        });
    </script>
}
