/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/

.content-wrapper {
    height: 420px;
    width: 100%;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    overflow:hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}

.content-wrapper .product-img {
    float: left;
    max-width: 300px;
    height: auto;
    position: relative;
    overflow: hidden;

    margin:20px;
}

.content-wrapper .product-img img {
    border-radius: 7px 0 0 7px;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}

.content-wrapper .img-gradient{
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    right: -5px;
    background: black;
    z-index: 2;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.content-wrapper .product-info {
    background-color: black;
    display: flex;
    flex-direction:column;
    height: 100%;
    padding-right: 30px;
    flex: 1;
}

.content-wrapper .product-text {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.content-wrapper .product-text h1 {
    margin: 30px 0 7px 0;
    font-size: 34px;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}

.content-wrapper .product-text h1,
.content-wrapper .product-price-btn p {
    font-family: 'Bentham', serif;
}

.content-wrapper .product-text h2 {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
    
}

.content-wrapper .badge{
    position:absolute;
    left:20px;
    top:20px;
    padding:3px 10px;
    text-transform:uppercase;
    background:red;
    color:#FFFFFF;
    z-index: 2;
}


.content-wrapper .product-price{
    font-size: 18px;
    /*color: #F20500;*/
    color: white;
    font-weight: 600;
}

.content-wrapper .product-price small{
    font-size: 80%;
    font-weight: 400;
    margin-left: 5px;
    text-decoration: line-through;
}


.content-wrapper .product-price-btn {
    flex: initial;
    margin: 20px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-wrapper .product-text > div{
    flex: initial;
}

.content-wrapper .product-text .product-description{
    width: 100%;
    height: 100px;
    flex: 1 !important;
    overflow-y: auto;
}


.content-wrapper .product-price-btn p {
    display: inline-block;
    position: absolute;
    top: 0px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
}




.content-wrapper .product-price-btn button {
    width:50%;
    border: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    font-size: 16px;
    padding:10px;
    text-transform: uppercase;
    background: #F20500;
    color:whitesmoke;
    outline: 0 !important;
}

.content-wrapper .divider{
    height: 85%;
    width: 2px;
    background-color: white;
    margin:0 30px;
}

/*.product-price-btn button:hover {*/
/*    background-color: #79b0a1;*/
/*}*/

@media only screen and (max-width: 768px) {
    .content-wrapper{
        flex-direction: column;
        overflow-y: auto;
        height: 100%;
    }
    .content-wrapper .divider{
        height: 2px;
        width: 80%;
    }

    .content-wrapper .product-info{
        width: 90%;
        padding: 0;
     }
    .content-wrapper .divider,.img-gradient{
        display: none;
    }
    .content-wrapper h1{
        font-size: 20px !important;
    }

    .content-wrapper .product-price-btn button{
        width: 100%;
    }
    .content-wrapper .product-text h1 {
        margin: 15px 0 7px 0;
    }
}
