@model CategoryEditorModel
@{
    ViewData["Title"] = $"კატეგორიის რედაქტირება - '{Model.Category.Caption}'";
}
@section Breadcrumbs
{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.RouteUrl(RouteNames.Admin.Category.Categories)">კატეგორიები</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>@ViewData["Title"]</span>
            </li>
        </ul>
    </div>
}

<div class="tabbable-custom ">
    <ul class="nav nav-tabs">
        <li class="active">
            <a> რედაქტირება </a>
        </li>
        <li>
            <a href="@Url.RouteUrl(RouteNames.Admin.Category.CategoryProducts, new {id = Model.Category.Id})"> პროდუქტები </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <form asp-controller="Categories" asp-action="Update" method="post">
                <partial name="_CategoryEditorModel.cshtml" model="Model.Category" />
            </form>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/admin/scripts/Categories/CategoryEditorModel.js"></script>
    <script>
        $(function () {
            CategoryEditorModel.init();
        });
    </script>
}
