<div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed bg-light h-100">
    <header class="bs-canvas-header p-3 bg-default">
        <h5 class="d-inline-block text-dark mb-0">
            <i class="fa fa-shopping-cart"></i> @localizer["BasketSidebarPartial_Basket_Text"]
        </h5>
        <button type="button" class="bs-canvas-close close" aria-label="Close">
            <span aria-hidden="true" class="text-dark">&times;</span>
        </button>
    </header>
    
</div>