@{
    ViewData["Title"] = "მთავარი";
}

@section Breadcrumbs
{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>@ViewData["Title"]</span>
            </li>
        </ul>
    </div>
}