@model PublishedCategoryViewModel
@{
    ViewData["Title"] = localizer["Categories_Breadcrambs_Home"];
}
@section Styles
{
    <link rel="stylesheet" href="~/css/Categories/Categories.css">
}
@section Breadcrambs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@localizer["Categories_Breadcrambs_Home"]</li>
    </ol>
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center no-data-container">
            <i class="fa fa-ban"></i>
            <p>@localizer["Products_No_Data_Text"]</p>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/plugins/infinite-scroll/infinite-scroll.pkgd.min.js"></script>
    <script src="~/js/Categories/CategoriesPage.js"></script>
    <script>
        $(function() {
            CategoriesPage.categoriesDataLoadUrl = '@Url.RouteUrl(RouteNames.WebCategories.CategoriesData, new {culture = Model.Culture})';
            CategoriesPage.init();
        });
    </script>
    <script id="category-items-template" type="text/template7">
        {{#each categories}}
        <div class="col-md-6">
            <div class="category-box">
                <a href="/@Model.Culture/{{id}}/products">
                    <img class="category-image" src="{{imageUrl}}" alt="Image">
                    <div class="content">
                        <h5 class="category-title">{{caption}}</h5>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    </script>
}
