@model PublishedCategoryViewModel

@foreach (var category in Model.Categories)
{
    <img src="@category.ImageUrl" alt="Image" width="50" height="50" />
    <p>
        <a href="@Url.RouteUrl(RouteNames.WebProducts.Products, new { culture = Model.Culture, categoryId = category.Id})">@category.Caption</a>
    </p>
}